<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Toplantılar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let meeting of globalService.meetings" (click)="goMeetingDetail(meeting.id);">
    <ion-card-header>
      <ion-card-title>{{meeting.title}}</ion-card-title>
      <ion-card-subtitle>by {{meeting.createdBy}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{meeting.description}}
    </ion-card-content>
  </ion-card>
</ion-content>